* {
  margin: 0px;
  padding: 0px; 
}

section {
  border: 1px solid blue;
  height: 500px;
  display: flex;
  flex-wrap: wrap; 
  /* flex-flow: row-reverse wrap; */
  justify-content: space-evenly;
  align-items: baseline;
}

div{
  width: 100px;
  height: 100px;
  border: 1px solid red
}

#flex-item{ 
  order: -1;
}