h1,
#menu > li,
h2{
  color:red
}

/* .menu-item {
  width: 100px;
  height: 50px;
} */

/* descendentes diretos */

#menu > li {
  width: 100px;
  height: 50px;
}

/* Todos os descendentes */

#menu em {
  color:blue
}

div {
  background-color: green;
}

#former{
  background-color: red;
}

 /* Próximo Irmão */

#former + div{
  background-color: yellow;
}

a[href*="hack"]{
  color:green
}
